<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--sans ça, les mobiles affichent la version pc-->
    <title>WEB FOR ALL</title>
    <link rel="stylesheet" href="../styles/entreprise.css">
    <link rel="preload" href="../views/index.html" as="fetch">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../views/index.js"></script>
</head>
<body>
    <div id="index"></div>
    <main id="page">
        <section id="presentation-entreprise">
            <h1>Nos entreprises</h1>
        </section>
        <section id="outils-entreprise">
            <button id="filtre" onclick="">filtre</button>
            <button id="creation-offre" onclick="ouvrir('popup-creer-entreprise')">créer une entreprise</button>
        </section>
        <section id="nos-entreprises">
            <div class="entreprises">
                <div class="debut-contenu-entreprise">
                    <img src="../images/image-entreprise.png" alt="image-entreprise.png">
                    <p>Nom de l'entreprise</p>
                </div>
                <div class="contenu-entreprise">
                    <article class="description">
                        <p>description</p>
                    </article>
                    <div class="information-entreprise">
                        <p>mail</p>
                        <p>numéro</p>
                        <p>blablablablabla</p>
                    </div>
                </div>
                <div class="fin-contenu-entreprise">
                    <div class="modification-entreprise">
                        <button onclick="ouvrir('popup-modifier-entreprise')">modifier</button>
                        <button onclick="ouvrir('popup-supprimer-entreprise')">supprimer</button>
                        <p>evaluer</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html> 