<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--sans ça, les mobiles affichent la version pc-->
    <title>WEB FOR ALL</title>
    <link rel="stylesheet" href="../styles/etudiant.css">
    <link rel="preload" href="../views/index.html" as="fetch">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../views/index.js"></script>

</head>
<body>
    <div id="index"></div>
    <main id="page">
        <section id="presentation-etudiant">
            <h1>Nos Etudiants</h1>
        </section>
        <section id="outils-etudiant">
            <button id="creation-offre" onclick="ouvrir('popup-creer-etudiant')">créer un etudiant</button>
        </section>
        <section id="nos-etudiant">
            <div class="etudiants">
                <div class="table-etudiant">
                    <table>
                        <thead>
                            <tr>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>outils</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Benjamin</td>
                            <td>Lefebvre</td>
                            <td>benjaminlefevre@gmail.com</td>
                            <td><button onclick="ouvrir('popup-modifier-etudiant')">modifier</button>
                        <button onclick="ouvrir('popup-supprimer-etudiant')">supprimer</button></td>
                        </tr>
                        </tbody>
        </section>
    </main>
</body>
</html> 