<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--sans ça, les mobiles affichent la version pc-->
    <title>WEB FOR ALL</title>
    <link rel="stylesheet" href="../styles/offre.css">
    <link rel="preload" href="../views/index.html" as="fetch">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../views/index.js"></script>
</head>
<body>
    <div id="index"></div>
    <main id="page">
        <section id="presentation-offre">
            <h1>Nos Offres</h1>
        </section>
        <section id="outils-offre">
            <button id="filtre" onclick="">filtre</button>
            <button id="creation-offre" onclick="ouvrir('popup-creer-offre')">créer une offre</button>
        </section>
        <section id="nos-offres">
            <div class="offres">
                <div class="debut-contenu-offre">
                    <div class="type">stage</div>
                    <div class="title"><h3>Title</h3></div>
                    <div><a class="employeur" href="../views/entreprise.html">entreprises</a></div>
                    <div class="modification-offre">
                        <button onclick="ouvrir('popup-modifier-offre')">modifier</button>
                        <button onclick="ouvrir('popup-supprimer-offre')">supprimer</button>
                    </div>
                    
                </div>
                <div class="contenu-offre">
                    <div class="description">
                        <h2>description</h2>
                        <article>
                            <p>tetetetetetetettetetetetetetetet</p>
                        </article>
                    </div>
                    <div class="competences">
                        <h2>compétences</h2>
                        <article>
                            <p>tetetetetetetettetetetetetetetet</p>
                        </article>
                    </div>
                    <div class="detail">
                        <article><p>nombre de candidat: </p></article>
                        <article><p>rémunération: </p></article>
                    </div>
                </div>
                <div class="fin-contenu-offre">
                    <p>date et heure</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html> 