<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--sans ça, les mobiles affichent la version pc-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--sans ça, les mobiles affichent la version pc-->
    <title>WEB FOR ALL</title>
    <link rel="stylesheet" href="../styles/acceuil.css">
    <link rel="preload" href="../views/index.html" as="fetch">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../views/index.js"></script>
</head>
<body>
    <div id="index"></div>
    <!--notre page d'acceuil-->
    <main id="page">
        <section id="presentation">
            <h1 id="grand-titre">Qui sommes nous ?</h1>
        </section>
        <section id="test">
            <p>Notre site est le meilleur au monde, il vous permet de trouver votre stage...</p>
            <br/>
        </section>
    </main> 
</body>
</html> 