<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--sans ça, les mobiles affichent la version pc-->
    <title>WEB FOR ALL</title>
    <link rel="stylesheet" href="../styles/pilote.css">
    <link rel="preload" href="../views/index.html" as="fetch">
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../views/index.js"></script>
</head>
<body>
    <div id="index"></div>
    <main id="page">
        <section id="presentation-pilote">
            <h1>Nos Pilotes</h1>
        </section>
        <section id="outils-pilote">
            <button id="creation-offre" onclick="ouvrir('popup-creer-pilote')">créer un pilote</button>
        </section>
        <section id="nos-pilote">
            <div class="pilote">
                <div class="table-pilote">
                    <table>
                        <thead>
                             <tr>
                            <th>Prenom</td>
                            <th>Nom</td>
                            <th>outils</td>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Aurélien</td>
                            <td>Lefebvre</td>
                            <td><button onclick="ouvrir('popup-modifier-pilote')">modifier</button>
                        <button onclick="ouvrir('popup-supprimer-pilote')">supprimer</button></td>
                        </tr>
                        </tbody>
        </section>
    </main>
</body>
</html> 