/*Sidebar*/
#navigation #entreprise{
    background: rgb(50, 50, 50);
    border: 3px solid rgb(50, 50, 50);
}
/*page*/
#presentation-entreprise{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*filtre et création de l'entreprise/*/
#outils-entreprise{
    display: flex;
    justify-content: space-around;
}
#outils-entreprise #filtre{
    background-color: black;
    border-radius: 25px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.726);
}
#outils-entreprise #filtre:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
#outils-entreprise #creation-offre{
    background-color: rgb(73, 20, 109);
    border-radius: 25px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.726);
}
#outils-entreprise #creation-offre:hover{
    background-color: rgba(73, 20, 109, 0.5);
    border: 1px solid rgba(73, 20, 109, 0.5);
}
/*presentation de nos entreprise*/
#nos-entreprises{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
/*mise en forme des entreprise*/
.entreprises{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 5px 10px;
}

/* Carte individuelle par entreprise */
.entreprise{
    padding: 12px;
    margin: 0;
    border: 3px solid rgb(73, 20, 109);
    background-color: rgba(204, 198, 211, 0.53);
    border-radius: 16px;
}
.debut-contenu-entreprise{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.debut-contenu-entreprise img{
    width: 150px;
    height: 150px;
}
.debut-contenu-entreprise p{
    display: grid;
    align-items: center;
}
.contenu-entreprise{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contenu-entreprise .description{
    padding: 2px 5px;
    margin: 2px;
    border: 3px solid rgb(73, 20, 109);
    border-radius: 20px;
}
.contenu-entreprise .information-entreprise{
    display: grid;
    justify-content: center;
    align-items: center;
}
.fin-contenu-entreprise .modification-entreprise{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    margin: 15px;
}
.fin-contenu-entreprise .modification-entreprise button{
    padding:5px 5px;
    margin: 15px;
    border: 3px solid rgb(73, 20, 109);
    background-color: rgb(73, 20, 109);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.726);
}
.fin-contenu-entreprise .modification-entreprise button:hover{
    background-color: rgba(73, 20, 109, 0.5);
    border: 1px solid rgba(73, 20, 109, 0.5);
}