/*side bar*/
#navigation #offre{
    background: rgb(50, 50, 50);
    border: 3px solid rgb(50, 50, 50);
}
/*offre de stage*/
#presentation-offre{
    display: flex;
    justify-content: center;
    align-items: center;
}
#outils-offre{
    display: flex;
    justify-content: space-around;
}
#outils-offre #filtre{
    background-color: black;
    border-radius: 25px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.726);
}
#outils-offre #filtre:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
#outils-offre #creation-offre{
    background-color: rgb(73, 20, 109);
    border-radius: 25px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.726);
}
#outils-offre #creation-offre:hover{
    background-color: rgba(73, 20, 109, 0.5);
    border: 1px solid rgba(73, 20, 109, 0.5);
}
#nos-offres{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.offre[data-offer-id]{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(73, 20, 109);
    background-color: rgba(204, 198, 211, 0.53);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}
.debut-contenu-offre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.debut-contenu-offre .type{
    padding: 5px 10px;
    margin: 10px;
    border: 3px solid rgb(73, 20, 109);
    border-radius: 20px;
}
.debut-contenu-offre .type:hover{
    background-color: rgba(73, 20, 109, 0.5);
    border: 1px solid rgba(73, 20, 109, 0.5);
}

.debut-contenu-offre .title{
    margin: 10px;
}
.debut-contenu-offre .evaluer{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.debut-contenu-offre .modification-offre{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.debut-contenu-offre .modification-offre button{
    padding:5px 5px;
    margin: 15px;
    border: 3px solid rgb(73, 20, 109);
    background-color: rgb(73, 20, 109);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.726);
}
.debut-contenu-offre .modification-offre button:hover{
    background-color: rgba(73, 20, 109, 0.5);
    border: 1px solid rgba(73, 20, 109, 0.5);
}
.contenu-offre{
    display: flex;
    align-items: center;
    gap: 30px;
}
.contenu-offre .description{
    padding:5px 5px;
    margin: 15px;
    border: 3px solid rgb(73, 20, 109);
    border-radius: 20px;
}
.contenu-offre .description h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenu-offre .competences{
    padding:5px 5px;
    margin: 15px;
    border: 3px solid rgb(73, 20, 109);
    border-radius: 20px;
}
.contenu-offre .competences h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenu-offre .detail article{
    display: flex;
    align-items: center;
    padding: 1px 1px;
    border: 3px solid rgb(73, 20, 109);
    margin: 5px;
    border-radius: 20px;
}
.fin-contenu-offre{
    display: flex;
    align-items: center;
    margin: 10px;
}