@media (max-width: 600px){/*pour faire sur mobile*/
    html{
        background-color: red;
    }
}
#en_tete{
    display:flex;
    max-width: 800px;
    max-height: 130px;
    margin:0 auto;
    background-color: rgba(171, 171, 172, 0.603);
    padding: 1em;
    border: 1px solid black;
}
#logo_site{
    width: 150px;
    height: 150px;
}
#navigation{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
#navigation a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}